
button#btnSearch {
  width:500px;
  background: #0084c9; /*the colour of the button*/
  padding: 8px 14px 10px; /*apply some padding inside the button*/
  border:1px solid #0084c9; /*required or the default border for the browser will appear*/
  cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
  /*style the text*/
  font-size:1em;
  font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
  letter-spacing:.08em;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
  color: #fff;
}
button#btnSearch:hover, button#btnSearch:focus {color:#dfe7ea;}
button#btnSearch:disabled {opacity:0.2;}

button.hbt {
  width:50%;
  background: #0084c9; /*the colour of the button*/
  padding: 8px 14px 10px; /*apply some padding inside the button*/
  border:0px solid #0084c9; /*required or the default border for the browser will appear*/
  cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
  /*style the text*/
  font-size:10px;
  font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
  letter-spacing:.08em;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
  color: #fff;
}
button.hbt:hover, button.hbt:focus {color:#dfe7ea;} 
button.hbt:disabled {opacity:0.2;}



button.coauth_remove{
    width:200px;
    background: #EC6697; /*the colour of the button*/
    padding: 8px 14px 10px; /*apply some padding inside the button*/
    border:1px solid #EC6697; /*required or the default border for the browser will appear*/
    cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    /*style the text*/
    font-size:10px;
    font-family:Oswald, sans-serif; /*Oswald is available from http://www.google.com/webfonts/specimen/Oswald*/
    letter-spacing:.08em;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); /*give the text a shadow - doesn't appear in Opera 12.02 or earlier*/
    color: #fff;
}
